[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "YCM-Generator"]
	path = YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "bash/git-aware-prompt"]
	path = bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git

[submodule "oh-my-zsh"]
    path = oh-my-zsh/
    url = https://github.com/robbyrussell/oh-my-zsh.git 
